*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Cormorant Garamond',serif;
    background:#f3efe7;
    color:#222;
}
.topbar{
    background:#111;
    color:white;
    padding:8px 20px;
    display:flex;
    justify-content:space-between;
    font-size:14px;
}
/* HEADER */

.header{
    background:white;
    padding:10px;
    text-align:center;
    border-radius:0 0 25px 25px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.logo{
    width:120px;
    margin-bottom:10px;
}

.header h1{
    font-size:42px;
    margin:0;
}

.header p{
    margin-top:8px;
    color:#777;
}

.logo-area p{
    color:#666;
}

.pedido-mini{
    font-weight:bold;
    color:#d4af37;
}
.toolbar{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-bottom:20px
}
/* BUSCADOR */

.buscador-container{
    padding:20px;
}
#buscador{
    width:100%;
    max-width:500px;
    height:50px;
    border-radius:50px;
    padding:0 25px;
    font-size:16px;
    background:white;
    box-shadow:
        0 5px 15px rgba(0,0,0,.08);
    border:none;
}
/* FILTROS */

.filtros{
    padding:0 20px 20px;
}

.filtros h3{
    margin-bottom:10px;
}

.grupo-filtros{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.grupo-filtros button{
    position:relative;
    overflow:hidden;
    border:none;
    padding:12px 22px;
    border-radius:50px;
    background:white;
    font-weight:700;
    cursor:pointer;
    transition:.4s;
    box-shadow:
        0 4px 12px rgba(0,0,0,.08);
    z-index:1;
}

.grupo-filtros button::before{
    content:"";
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    transition:.4s;
    z-index:-1;
}

.grupo-filtros button:hover{
    background:#d4af37;
    color:black;
}
/* CONTENIDO */

.container{
    display:grid;
    grid-template-columns:1fr 320px;
    gap:25px;
    padding:20px;
}
/* PRODUCTOS */

#productos{
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    gap:25px;
}

.card{
    background:#fffdf9;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 3px 10px rgba(0,0,0,.08);
    transition:.35s;
}

.card:hover{
    transform:
        translateY(-10px);
    
    box-shadow:
        0 15px 35px rgba(212,175,55,.35),
        0 0 40px rgba(212,175,55,.25);

}

.card img{
    width:100%;
    height:280px;
    object-fit:cover;
    background:#fafafa;
    transition:.35s;
}

.card:hover img{
    transform:scale(1.04);
}

.info{
    padding:15px;
}
/* TAGS */

.tags{
    display:flex;
    gap:8px;
    margin-bottom:10px;
}

.tag{
    padding:5px 10px;
    border-radius:20px;
    font-size:12px;
    font-weight:600;
}
.categoria-btn::before{
    background:
    linear-gradient(
    90deg,
    #d4af37,
    #f7d86f
    );
}

.categoria-btn:hover{

    color:white;
}
.categoria-btn:hover::before{    
    left:0;
}
.mujer-btn::before{
    background:
    linear-gradient(
    90deg,
    #f8c7d8,
    #e68fb1
    );
}

.hombre-btn::before{
    background:
    linear-gradient(
    90deg,
    #7cb7ff,
    #3d7fe0
    );
}

.nino-btn::before{
    background:
    linear-gradient(
    90deg,
    #87ceeb,
    #4fa3d9
    );
}

.nina-btn::before{
    background:
    linear-gradient(
    90deg,
    #ffc0cb,
    #ff91a4
    );
}

.unisex-btn::before{
    background:
    linear-gradient(
    90deg,
    #b89cff,
    #8468ff
    );
}

.mujer-btn:hover,

.hombre-btn:hover,

.nino-btn:hover,

.nina-btn:hover,

.unisex-btn:hover{
    color:white;
}

.mujer-btn:hover::before,

.hombre-btn:hover::before,

.nino-btn:hover::before,

.nina-btn:hover::before,

.unisex-btn:hover::before{

left:0;
}

/* TITULO */

.info h3{
    margin-bottom:10px;
    min-height:50px;
}

/* PRECIO */

.precio{
    font-size:28px;
    font-weight:bold;
    color:#b8860b;
}

/* ESTADOS */

.estado{
    margin-top:10px;
    font-weight:600;
}

.disponible{
    color:#1e9e51;
}

.ultimas{
    color:#d39c00;
}

.agotado{
    color:#d63b3b;
}

.stock{
    margin-top:10px;
    color:#666;
}

/* CONTADOR */

.contador{
    display:flex;
    gap:10px;
    margin-top:15px;
}

.contador button{
    width:35px;
    height:35px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.btn-agregar{

    width:100%;
    margin-top:15px;

    padding:14px;

    border:1px solid #d4af37;

    border-radius:14px;

    background:#C9C2B9;

    color:#111;

    font-weight:700;

    cursor:pointer;

    transition:all .35s ease;
}

.btn-agregar:hover{

    background:#d4af37;

    color:#111;

    transform:translateY(-3px);
}

.cantidad-box{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    margin-top:15px;
}
.cantidad-box span{
    font-size:20px;
    font-weight:700;
    width:35px;
    text-align:center;
    color:#111;
}

.cantidad-box button{
    width:42px;
    height:42px;
    border:none;
    border-radius:50%;
    background:#COCAC9;
    color:#COCAC9;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}
.cantidad-box button:hover{

    background:#d4af37;
    transform:scale(1.1);
    color:black;
}

/* CARRITO */

.pedido{
    background:write;
    padding:25px;
    border-radius:25px;
    box-shadow:
        0 10px 30px rgba(0,0,0,.08);
    border top:4px solid #d4af37;
}

.pedido h2{
    margin-bottom:15px;
}

#listaPedido{
    list-style:none;
}

#listaPedido li{
    margin-bottom:10px;
    border-bottom:1px solid #eee;
    padding-bottom:10px;
}

.btn-wsp{
    display:block;
    width:100%;
    text-align:center;
    background:#25D366;
    color:white;
    text-decoration:none;
    padding:15px;
    border-radius:10px;
    margin-top:20px;
    font-weight:bold;
}

/* MOBILE */

@media(max-width:900px){

    .container{
        grid-template-columns:1fr;
    }

    .header{
        flex-direction:column;
        gap:15px;
    }

    .logo-area{
        flex-direction:column;
        text-align:center;
    }

}
@media(max-width:900px){.container{grid-template-columns:1fr}}
